[client]
port = 3306
socket = /run/mysqld/mysqld.sock

[mysqld]
user = mysql
port = 3306
bind-address = 0.0.0.0
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
skip-networking = 0

# Logging
log-error = /var/log/mysql/error.log

# Character set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Resource limits
max_connections = 100

[mariadb]
general_log
general_log_file=mariadb.log

[galera]
port = 3306
bind-address=0.0.0.0
